<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href=".././css/menu.css">
        <title>Mensagens Secretas</title>
    </head>
    <body>
        <header>
            <h1>Mensagens Secretas</h1>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./sobre.html">Sobre</a></li>
                <li><a href="./cifraCesar.html">Cifra de Cesar</a></li>
                <li><a href="./base64.html">Base 64</a></li>
                <li><a href="https://github.com/sashamoon" target="_blank">GitHub</a></li>
            </ul>
        </header>
        <main>
            <div class="container">
                <h1>Base 64</h1>
                <p>A codificação em Base64 é uma maneira de converter qualquer texto/conteúdo para uma codificação que utiliza apenas 64 caracteres</p>
                <p>Os esquemas de codificação Base64 são comumente usados ​​quando há necessidade de codificar dados binários que precisam ser armazenados e transferidos por meio de mídia projetada para lidar com ASCII. Isso é para garantir que os dados permaneçam intactos sem modificação durante o transporte. Base64 é comumente usado em uma série de aplicativos, incluindo e-mail viaMIMEe armazenamento de dados complexos em XML.</p>
            </div>
        </main>
        <footer>
            <h1>Mensagens Secretas</h1>
            <p>Todos os direitos reservados &copy; 2021 Mensagens Secretas</p>
            <ul>
                <li><a href="https://github.com/sashamoon" target="_blank"><img src="../icone_rede_social/github.png" alt="Github"></a></li>
                <li><a href="https://www.linkedin.com/in/sarahalvesoliveira/" target="_blank"><img src="../icone_rede_social/linkedin.png" alt="Linkedin"></a></li>
            </ul>
        </footer>
    </body>
</html>