<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href=".././css/menu.css">
        <title>Mensagens Secretas</title>
    </head>
    <body>
        <header>
            <h1>Mensagens Secretas</h1>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./sobre.html">Sobre</a></li>
                <li><a href="./cifraCesar.html">Cifra de Cesar</a></li>
                <li><a href="./base64.html">Base 64</a></li>
                <li><a href="https://github.com/sashamoon" target="_blank">GitHub</a></li>
            </ul>
        </header>
        <main>
            <div class="container">
                <h1>Cifra de Cesar</h1>
                <p>A calculadora encripta o texto inserido usando a Cifra de César. Símbolos não alfabéticos (dígitos, espaços em branco, etc.) não são transformados.</p>

                <p>A Cifra de César é um dos métodos conhecidos mais antigos de criptografia. É muito simples - é apenas substituição no alfabeto. A transformação é denominada ROTN, onde N é o valor de substituição e ROT é de "ROTAÇÃO" pois trata-se de uma substituição cíclica.</p>
                        
                <p>Por exemplo, ROT2 significa que "a" se torna "c", "b" se torna "d" e no fim "y" se torna "a" e "z" se torna "b". O numero de transformações possíveis depende do comprimento do alfabeto, e no alfabeto inglês é 25 (ROT0 e ROT26 não alteram o texto inserido). Devido a isso, esta é uma cifra bem fraca, pois você pode rapidamente checar todas as combinações possíveis.</p>
                        
                <p>A calculadora abaixo resulta uma tabela com todas as transformações possíveis. Símbolos não alfabéticos como espaços em branco e dígitos não são modificados.</p>'
                    
                <figure>
                    <img src="../imagens/rotacaoInput.JPG" alt="Input rotação">
                    <figcaption> &#8594; Quantidade de rotação</figcaption>
                </figure>
                
            </div>
        </main>
        <footer>
            <h1>Mensagens Secretas</h1>
            <p>Todos os direitos reservados &copy; 2021 Mensagens Secretas</p>
            <ul>
                <li><a href="https://github.com/sashamoon" target="_blank"><img src="../icone_rede_social/github.png" alt="Github"></a></li>
                <li><a href="https://www.linkedin.com/in/sarahalvesoliveira/" target="_blank"><img src="../icone_rede_social/linkedin.png" alt="Linkedin"></a></li>
            </ul>
        </footer>
    </body>
</html>