<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href=".././css/menu.css">
        <title>Mensagens Secretas</title>
    </head>
    <body>
        <header>
            <h1>Mensagens Secretas</h1>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./sobre.html">Sobre</a></li>
                <li><a href="./cifraCesar.html">Cifra de Cesar</a></li>
                <li><a href="./base64.html">Base 64</a></li>
                <li><a href="https://github.com/sashamoon" target="_blank">GitHub</a></li>
            </ul>
        </header>
        <main>
            <div class="container">
                <h1>Sobre o Projeto</h1>
                <h4>Proposta</h4>
                <p>Desenvolver uma aplicação capaz de codificar e decodificar mensagens utilizando cifra de césar e base 64.</p>
                <h4>Como fiz</h4>
                <p>Durante a execução do projeto me organizei para conseguir fazer tudo que planejei, e a principio desenhei a tela em um papel para ver como gostaria que fosse o resultado. A execução foi tranquila e quando tinha dúvidas, eu buscava ajuda na comunidade e pesquisava respostas no google.</p>
                <h4>Minha experiência</h4>
                <p>Confesso que tive dificuldades para tomar iniciativa e começar o projeto, e também no começo para conseguir executar tudo o que eu queria, porém, com o passar do desenvolvimento, eu conseguia resolver erros e tirar dúvidas pertinentes.</p>
            </div>
        </main>
        <footer>
            <h1>Mensagens Secretas</h1>
            <p>Todos os direitos reservados &copy; 2021 Mensagens Secretas</p>
            <ul>
                <li><a href="https://github.com/sashamoon" target="_blank"><img src="../icone_rede_social/github.png" alt="Github"></a></li>
                <li><a href="https://www.linkedin.com/in/sarahalvesoliveira/" target="_blank"><img src="../icone_rede_social/linkedin.png" alt="Linkedin"></a></li>
            </ul>
        </footer>
    </body>
</html>